@model List<RTFM_SearchEngine.Models.SearchResult>
@{
    string lastSearch = string.Empty;
    if (ViewData["lastSearch"] != null)
    {
        lastSearch = ViewData["lastSearch"].ToString();
    }

    ViewData["Title"] = "Search";
}

<div class="container-fluid">
    <div class="row d-flex align-items-center">
        <div class="col-xs-1">
            <a asp-action="Index" class="navbar-brand"><img src="/img/geometric-logo-vertical.svg" alt="rtfm-logo"
                    style="max-width: 100px;"></a>
        </div>
        <div class="col-md-10" style="max-width: 800px;">
            <form asp-action="Search" method="get">
                <div class="row">
                    <div class="input-group mb-3">
                        @if (!string.IsNullOrEmpty(lastSearch))
                        {
                            <input type="text" name="searchText" class="form-control" value="@lastSearch"
                                placeholder="Cosa vuoi cercare?">
                        }
                        else
                        {
                            <input type="text" name="searchText" class="form-control" placeholder="Cosa vuoi cercare?">
                        }
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" type="submit">Cerca</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    @foreach (var item in Model)
    {
        <div class="row mt-2 mx-5">
            <a href="@item.Link">
                <div class="card" style="width: 100%; border:none">
                    <div class="card-body">
                        <h5 class="card-title" style="color: #333;">@item.Title</h5>
                        <h6 class="card-subtitle mb-2 text-muted lead"><a href="@item.Link">@item.Link</a></h6>
                        <p class="card-text">@item.Description</p>
                    </div>
                </div>
            </a>
        </div>
        <hr>
    }

</div>


</div>
